<%= turbo_frame_tag "new_component_form" do %>
  <%= form_with(model: component, class: "contents") do |form| %>
    <div>
      <% if component.errors.any? %>
        <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
          <h2><%= pluralize(component.errors.count, "error") %> prohibited this component from being saved:</h2>
          <ul>
            <% component.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="my-5">
        <%= form.label :label %>
        <%= form.text_field :label, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      
      <div class="grid grid-cols-3">
        
        <div class="col-span-2 pe-4">
          <% if !defined?(@boat)   %>
            <%= form.label :boat_id %>
            <%= form.collection_select :boat_id, Boat.all, :id, :name, { prompt: true },{ class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" }%>
          <% end %>
        </div>

        <div class="col-span-1">
          <% if !defined?(@category) %>
            <%= form.label :category %>
            <%= form.collection_select :category, ["Speakers", "Lights", "Options", "Pumps", "Engine", "CAN Devices"], :itself, :itself, { prompt: true }, {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"} %>
          <% end %>
        </div>
      </div>
      
      <div class="my-5">
        <%= form.label :description %>
        <%= form.text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>


      <div class="inline">
        <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>
    </div>
  <% end %>
<% end %>
