<div id="<%= dom_id connector_terminal %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Terminal:</strong>
    <%= connector_terminal.terminal_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Connector:</strong>
    <%= connector_terminal.connector_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this connector terminal", connector_terminal, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this connector terminal", edit_connector_terminal_path(connector_terminal), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
