<div id="<%= dom_id connector %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= connector.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Part number:</strong>
    <%= connector.part_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contacts:</strong>
    <%= connector.contacts %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Manufacturer:</strong>
    <%= connector.manufacturer %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this connector", connector, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this connector", edit_connector_path(connector), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
