<!DOCTYPE html>
<html>
  <head>
    <title>ProjectElegance</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 ">
    <main class="container flex px-5 mx-auto mt-10">
      <%= render "layouts/sidebar_nav" %>
      <%# TODO: Fix the width of the contents %>
      <%= turbo_frame_tag :right_form_modal %>
      <div class="w-5/6 ml-auto">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
